.row {

	@mixin clearFix;

	&--gutters {
		/*removes gutter from last column*/
		margin-right: -65px;
	}

	&--gutters-large {
		margin-right: -100px;
	}

	&--gutters > div {
		/*selects all direct children with a tag of div
		ie immediate child elements*/
		padding-right: 65px;
	}

	&--gutters-large > div {
		padding-right: 100px;
	}

	&__b-margin-until-medium {
		margin-bottom: 1rem;
	}

	@mixin atMedium {

		&__b-margin-until-medium {
			margin-bottom: 0;
		}

		&__medium-4 {
			float: left;
			width: 33.33%;
		}

		&__medium-4--larger {
			width: 37%;
		}

		&__medium-6 {
			float: left;
			width: 50%;
		}

		&__medium-8 {
			float: left;
			width: 66.66%;
		}

		&__medium-8--smaller {
			width: 63%;
		}
	}
}
